* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
  color: white;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* .container {
  background: linear-gradient(#000000, #130F40);
  height: 100vh;
} */